**/*.iml
**/local.properties
**/build
**/build_*
**/.externalNativeBuild
**/.idea
**/.vscode
**/.fuse*
**/.gradle
**/.settings
**/raytracer
**/*.d
**/*.o
**/*.s
**/*.out
**/*.gto
**/*.llvmIR
**/*.dwo
**/*.data*
**/*.py
**/*.callgrind
**/*.dat
**/node_modules/**
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.toc
**/*.bbl
**/*.blg
**/*.synctex.gz
**/*.json
**/*.upa
**/*.upb
**/*.abo
**/*.acn
**/*.alg
**/*.dvi
**/*.glg
**/*.glo
**/*.acr
**/*.ist
**/*.out.ps
**/*.fdb_latexmk
**/*.fls
**/*.loa
**/*.lol
**/*.cxx
**/git-hooks
**/*.pro.user
**/Makefile*
**/*.ui*
**/System_dependent/**/*build*/**/MobileRT
**/System_dependent/**/*.pro*
**/.*
**/*.pro*
**/*gradle*
**/*.md*
**/*.gif*
**/*.suppr*
**/*makefile*
**/*.yml*
**/*Plot_Graphs*
**/WavefrontOBJs/**

**/documentation
**/.jscpd*
**/code_coverage_report
**/coverage
**/docs
**/node_modules
**/LICENSE
**/*.Doxyfile*
**/*coverage*
**/test-reporter-latest-linux-amd64

!build_*
!WavefrontOBJs/conference*
!.git/*

build_*/AppMobileRT_autogen
build_*/CMakeCache.txt
build_*/CMakeFiles
build_*/Components
build_*/Makefile
build_*/MobileRT
build_*/System_dependent
build_*/Unit_Testing
build_*/Plot_Graphs
build_*/cmake_install.cmake
build_*/third_party
