[submodule "third_party/tinyobjloader"]
  path = app/third_party/tinyobjloader
  url = https://github.com/tinyobjloader/tinyobjloader
  update = checkout
  branch = master
  fetchRecurseSubmodules = false
  ignore = none
  shallow = true

[submodule "third_party/boost"]
  path = app/third_party/boost
  url = https://github.com/boostorg/boost
  update = checkout
  branch = master
  fetchRecurseSubmodules = false
  ignore = none
  shallow = true
