[submodule "third_party/glm"]
  path = app/third_party/glm
  url = https://github.com/g-truc/glm
  update = checkout
  branch = master
  fetchRecurseSubmodules = false
  ignore = none
  shallow = true

[submodule "third_party/tinyobjloader"]
  path = app/third_party/tinyobjloader
  url = https://github.com/tinyobjloader/tinyobjloader
  update = checkout
  branch = release
  fetchRecurseSubmodules = false
  ignore = none
  shallow = true

[submodule "third_party/googletest"]
  path = app/third_party/googletest
  url = https://github.com/google/googletest
  update = checkout
  branch = main
  fetchRecurseSubmodules = false
  ignore = none
  shallow = true

[submodule "third_party/stb"]
  path = app/third_party/stb
  url = https://github.com/nothings/stb
  update = checkout
  branch = master
  fetchRecurseSubmodules = false
  ignore = none
  shallow = true

[submodule "third_party/pcg-cpp"]
  path = app/third_party/pcg-cpp
  url = https://github.com/imneme/pcg-cpp
  update = checkout
  branch = master
  fetchRecurseSubmodules = false
  ignore = none
  shallow = true

[submodule "third_party/boost"]
  path = app/third_party/boost
  url = https://github.com/boostorg/boost
  update = checkout
  branch = master
  fetchRecurseSubmodules = false
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/assert"]
  path = app/third_party/boost/libs/assert
  url = https://github.com/boostorg/assert
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/config"]
  path = app/third_party/boost/libs/config
  url = https://github.com/boostorg/config
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/core"]
  path = app/third_party/boost/libs/core
  url = https://github.com/boostorg/core
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/mpl"]
  path = app/third_party/boost/libs/mpl
  url = https://github.com/boostorg/mpl
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/preprocessor"]
  path = app/third_party/boost/libs/preprocessor
  url = https://github.com/boostorg/preprocessor
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/utility"]
  path = app/third_party/boost/libs/utility
  url = https://github.com/boostorg/utility
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/type_traits"]
  path = app/third_party/boost/libs/type_traits
  url = https://github.com/boostorg/type_traits
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/static_assert"]
  path = app/third_party/boost/libs/static_assert
  url = https://github.com/boostorg/static_assert
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/range"]
  path = app/third_party/boost/libs/range
  url = https://github.com/boostorg/range
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/iterator"]
  path = app/third_party/boost/libs/iterator
  url = https://github.com/boostorg/iterator
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/sort"]
  path = app/third_party/boost/libs/sort
  url = https://github.com/boostorg/sort
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/stacktrace"]
  path = app/third_party/boost/libs/stacktrace
  url = https://github.com/boostorg/stacktrace
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/predef"]
  path = app/third_party/boost/libs/predef
  url = https://github.com/boostorg/predef
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true

[submodule "third_party/boost/libs/container_hash"]
  path = app/third_party/boost/libs/container_hash
  url = https://github.com/boostorg/container_hash
  update = checkout
  branch = master
  fetchRecurseSubmodules = true
  ignore = none
  shallow = true
