# IDE temporary files
**/*.iml
**/local.properties
**/.idea
**/.vscode
**/.fuse*
**/.gradle
**/.settings

# Qt temporary files
**/System_dependent/**/*build*/
**/*.pro.user

# Build temporary files
**/target
**/build
**/build_*
**/.externalNativeBuild
**/raytracer
**/gtest
**/WavefrontOBJs/**
*libraries*
**/*.so
**/Makefile*
**/*.o
**/*.llvmIR

# Gradle reports
**/reports/**
**/report.html

# Code coverage temporary files
**/code_coverage_report/**
**/*coverage*.info
**/.jscpd*
**/*.gcov

# Conan temporary files
**/conanbuildinfo.cmake
**/conanbuildinfo.txt
**/conan.lock
**/conaninfo.txt

# Vim temporary files
**/*.swp

# Android Emulator SD card temporary files
**/*.img.qcow2

# Documentation temporary files
**/documentation
**/*.log
**/*.upa
**/*.upb
**/*.abo
**/*.acn
**/*.alg
**/*.dvi
**/*.glg
**/*.glo
**/*.acr
**/*.ist
**/*.out.ps
**/*.fdb_latexmk
**/*.fls
**/*.loa
**/*.lol
**/*.cxx
**/*.aux
**/*.lof
**/*.lot
**/*.toc
**/*.bbl
**/*.blg
**/*.synctex.gz

# Doxygen output
**/*doxygen*

# Others temporary files
**/*.d
**/*.s
**/*.out
**/*.gto
**/*.dwo
**/*.data*
**/*.py
**/*.callgrind
**/*.dat
**/node_modules/**
**/git-hooks
