**/*.iml
**/local.properties
**/build
**/build_*
**/.externalNativeBuild
**/.idea
**/.vscode
**/.fuse*
**/.gradle
**/.settings
**/raytracer
**/gtest
**/*.d
**/*.o
**/*.s
**/*.out
**/*.gto
**/*.llvmIR
**/*.dwo
**/*.data*
**/*.py
**/*.callgrind
**/*.so
**/*.dat
**/node_modules/**
**/WavefrontOBJs/**
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.toc
**/*.bbl
**/*.blg
**/*.synctex.gz
**/*.json
**/*.upa
**/*.upb
**/*.abo
**/*.acn
**/*.alg
**/*.dvi
**/*.glg
**/*.glo
**/*.acr
**/*.ist
**/*.out.ps
**/*.fdb_latexmk
**/*.fls
**/*.loa
**/*.lol
**/*.cxx
**/git-hooks
**/*.pro.user
**/Makefile*
**/System_dependent/**/*build*/**/MobileRT
**/System_dependent/**/*.pro*
*libraries*
**/documentation
**/.jscpd*
**/code_coverage_report/**
**/*coverage*.info
**/reports/**

# Conan temporary files
conanbuildinfo.cmake
conanbuildinfo.txt
conan.lock
conaninfo.txt

# Vim temporary files
**/*.swp
