[submodule "third_party/glm"]
  path = app/third_party/glm
  url = https://github.com/g-truc/glm
  update = checkout
  branch = master
  fetchRecurseSubmodules = false
  ignore = none
  shallow = true

[submodule "third_party/tinyobjloader"]
  path = app/third_party/tinyobjloader
  url = https://github.com/tinyobjloader/tinyobjloader
  update = checkout
  branch = release
  fetchRecurseSubmodules = false
  ignore = none
  shallow = true

[submodule "third_party/googletest"]
  path = app/third_party/googletest
  url = https://github.com/google/googletest
  update = checkout
  branch = main
  fetchRecurseSubmodules = false
  ignore = none
  shallow = true

[submodule "third_party/stb"]
  path = app/third_party/stb
  url = https://github.com/nothings/stb
  update = checkout
  branch = master
  fetchRecurseSubmodules = false
  ignore = none
  shallow = true

[submodule "third_party/boost"]
  path = app/third_party/boost
  url = https://github.com/boostorg/boost
  update = checkout
  branch = master
  fetchRecurseSubmodules = false
  ignore = dirty
  shallow = true

[submodule "third_party/pcg-cpp"]
  path = app/third_party/pcg-cpp
  url = https://github.com/imneme/pcg-cpp
  update = checkout
  branch = master
  fetchRecurseSubmodules = false
  ignore = none
  shallow = true
