name: Repeatable

on:
  workflow_dispatch:
  push:
    branches:
    - '**'
    tags-ignore:
    - '**'
    paths-ignore:
    - '*'
    - '**/**'
    - '!.github/workflows/android_repeatable.yml'
    - '!.github/workflows/android_repeatable-matrix.json'

permissions: {}

defaults:
  run:
    shell: sh
    working-directory: .

concurrency:
  group: ${{ github.workflow }} ${{ github.ref }}
  cancel-in-progress: true

# Default environment variables.
env:
  GITHUB_STEP_TIMEOUT_SMALL: 4
  GITHUB_STEP_TIMEOUT_MEDIUM: 10
  GITHUB_STEP_TIMEOUT_LONG: 20

jobs:
  Matrix:
    name: Set Matrix
    runs-on: macos-latest
    timeout-minutes: 2

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - name: Checkout
        timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
        if: success()
        uses: actions/checkout@v6
        with:
          # Check available parameters in: https://github.com/actions/checkout/blob/main/action.yml
          lfs: true

      - name: Set Matrix
        id: set-matrix
        timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
        if: success()
        run: |
          MATRIX=$(echo $(cat .github/workflows/android_repeatable-matrix.json) | sed 's/ //g');
          echo "Matrix: ${MATRIX}";
          echo "matrix=${MATRIX}" >> ${GITHUB_OUTPUT};


  Build:
    needs: [Matrix]
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'

    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.Matrix.outputs.matrix) }}

    name: ${{ matrix.test }} Android ${{ matrix.android_api }} [${{ matrix.type }} (${{ matrix.host_os }})]
    runs-on: ${{ matrix.host_os }}
    timeout-minutes: 360

    steps:
    - name: Checkout
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success()
      uses: actions/checkout@v6
      with:
        # Check available parameters in: https://github.com/actions/checkout/blob/main/action.yml
        lfs: true

    - name: Set up JDK
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success()
      uses: actions/setup-java@v5
      with:
        # Check available parameters in: https://github.com/actions/setup-java/blob/main/action.yml
        java-version: 21
        distribution: zulu
        java-package: jdk
        check-latest: false
        server-id: github
        server-username: GITHUB_ACTOR
        server-password: GITHUB_TOKEN
        settings-path: ~/.gradle
        overwrite-settings: true
        gpg-private-key: ''
        gpg-passphrase: GPG_PASSPHRASE
        cache-dependency-path: '**/build.gradle'

    - name: Delete unnecessary Android SDK components
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_LONG) }}
      if: success()
      run: |
        echo 'Available Android versions:';
        du -h -d 1 ${ANDROID_HOME};
        rm -rf ${ANDROID_HOME}/ndk;
        rm -rf ${ANDROID_HOME}/extras;
        rm -rf ${ANDROID_HOME}/cmake;
        mkdir -p ${ANDROID_HOME}/ndk;
        mkdir -p ${ANDROID_HOME}/extras;
        mkdir -p ${ANDROID_HOME}/cmake;
        du -h -d 1 ${ANDROID_HOME}/ndk;
        du -h -d 1 ${ANDROID_HOME}/cmake;
        du -h -d 1 ${ANDROID_HOME}/build-tools;
        du -h -d 1 ${ANDROID_HOME}/platforms;
        du -h -d 1 ${ANDROID_HOME}/extras;
        du -h -d 1 ${HOME};
        df -Pk -h ${HOME};
        env;

    - name: Set Android CPU Architecture
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      run: |
        set +eu;
        MAJOR_MAC_VERSION=$(sw_vers | grep ProductVersion | cut -d ':' -f2 | cut -d '.' -f1 | tr -d '[:space:]');
        if [ "${MAJOR_MAC_VERSION}" != '' ]; then
          echo "MacOS '${MAJOR_MAC_VERSION}' detected";
        fi
        set -e;
        if ${{ endsWith(matrix.host_os, '-arm') }} = true || "${MAJOR_MAC_VERSION}" -gt 13; then
            echo 'android_arch=\"arm64-v8a\"' >> "${GITHUB_ENV}";
            echo 'android_emulator_arch=arm64-v8a' >> "${GITHUB_ENV}";
        else
          if [ "${{ matrix.android_api }}" -gt 20 ]; then
            echo 'android_arch=\"x86_64\"' >> "${GITHUB_ENV}";
            echo 'android_emulator_arch=x86_64' >> "${GITHUB_ENV}";
          else
            echo 'android_arch=\"x86\"' >> "${GITHUB_ENV}";
            echo 'android_emulator_arch=x86' >> "${GITHUB_ENV}";
          fi
        fi
        set -u;
        . scripts/helper_functions.sh && parallelizeBuild && echo "NCPU_CORES=${NCPU_CORES}" >> "${GITHUB_ENV}";

    - name: Download Android CMake
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && !startsWith(matrix.host_os, 'windows') && !endsWith(matrix.host_os, '-arm')
      run: |
        . scripts/helper_functions.sh && callCommandUntilSuccess 2 timeout 180 ${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager --install 'cmake;4.0.2';

    - name: Download Android CMake Windows
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && startsWith(matrix.host_os, 'windows')
      run: |
        . scripts/helper_functions.sh && callCommandUntilSuccess 2 timeout 180 ${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager.bat --install 'cmake;4.0.2';

    - name: Download NDK
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && !startsWith(matrix.host_os, 'windows')
      run: |
        if [ "${{ matrix.android_api }}" -ge 21 ]; then
          export NDK_VERSION='29.0.14206865';
        elif [ "${{ matrix.android_api }}" -ge 19 ]; then
          export NDK_VERSION='25.2.9519653';
        else
          export NDK_VERSION='23.2.8568313';
        fi
        . scripts/helper_functions.sh && callCommandUntilSuccess 2 timeout 180 ${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager --install "ndk;${NDK_VERSION}";

    - name: Download NDK Windows
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && startsWith(matrix.host_os, 'windows')
      run: |
        if [ "${{ matrix.android_api }}" -ge 21 ]; then
          export NDK_VERSION='29.0.14206865';
        elif [ "${{ matrix.android_api }}" -ge 19 ]; then
          export NDK_VERSION='25.2.9519653';
        else
          export NDK_VERSION='23.2.8568313';
        fi
        . scripts/helper_functions.sh && callCommandUntilSuccess 2 timeout 180 ${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager.bat --install "ndk;${NDK_VERSION}";

    - name: Download Android dependencies
      timeout-minutes: 8
      if: success()
      run: |
        . scripts/helper_functions.sh && callCommandUntilSuccess 2 timeout 180 sh gradlew build --dry-run -Dorg.gradle.configuration-cache=true --parallel \
          -DtestType="${{ matrix.type }}" -DandroidApiVersion="${{ matrix.android_api }}" -DabiFilters="[${{ env.android_arch }}]" \
          --info --warning-mode all --stacktrace;

    - name: Build ${{ matrix.type }}
      timeout-minutes: 20
      if: success()
      env:
        ANDROID_KEYSTORE_PASSWORD_DEBUG: ${{ secrets.ANDROID_KEYSTORE_PASSWORD_DEBUG }}
        ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
        ANDROID_KEY_PASSWORD_DEBUG: ${{ secrets.ANDROID_KEY_PASSWORD_DEBUG }}
        ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
        ANDROID_KEY_ALIAS_DEBUG: ${{ secrets.ANDROID_KEY_ALIAS_DEBUG }}
        ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
      run: |
        echo "${{ secrets.ANDROID_SIGNING_KEY_BASE64 }}" | base64 -d > app/MobileRT.jks;
        sh scripts/compile_android.sh -t ${{ matrix.type }} -a ${{ matrix.android_api }} -r yes -f ${{ env.android_arch }};
        rm app/MobileRT.jks;

    - name: Enable KVM group permissions
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && startsWith(matrix.host_os, 'ubuntu')
      run: |
        echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules;
        sudo udevadm control --reload-rules;
        sudo udevadm trigger --name-match=kvm;

    - name: Download Android dependencies
      timeout-minutes: 8
      if: success()
      run: |
        . scripts/helper_functions.sh && callCommandUntilSuccess 2 timeout 180 sh gradlew connectedAndroidTest --dry-run -Dorg.gradle.configuration-cache=true --parallel \
          -DtestType="${{ matrix.type }}" -DandroidApiVersion="${{ matrix.android_api }}" -DabiFilters="[${{ env.android_arch }}]" \
          --info --warning-mode all --stacktrace;

    - name: Run Android tests
      timeout-minutes: 50
      if: success() && !startsWith(matrix.host_os, 'windows')
      uses: Wandalen/wretry.action@e68c23e6309f2871ca8ae4763e7629b9c258e1ea # v3
      env:
        ANDROID_EMULATOR_WAIT_TIME_BEFORE_KILL: 10
        ANDROID_EMULATOR_MEM_MB: 3072
        ANDROID_EMULATOR_CPU_CORES: 2
      with:
        # Check available parameters in: https://github.com/Wandalen/wretry.action/blob/master/action.yml
        action: ReactiveCircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2
        pre_retry_command: 'echo "Retrying Run Android tests step..."'
        attempt_limit: 3
        attempt_delay: 30000
        with: |
          # Check available parameters in: https://github.com/ReactiveCircus/android-emulator-runner/blob/main/action.yml
          # Available CI host machines: https://docs.github.com/en/actions/reference/runners/github-hosted-runners#standard-github-hosted-runners-for-public-repositories
          # Max api level for 32bit is: 30
          api-level: ${{ matrix.android_api }}
          target: google_apis
          arch: ${{ env.android_emulator_arch }}
          disable-animations: true
          disable-spellchecker: true
          channel: stable
          emulator-options: -no-metrics -no-window -cores ${{ env.ANDROID_EMULATOR_CPU_CORES }} -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -camera-front none -no-snapshot-save
          cores: ${{ env.ANDROID_EMULATOR_CPU_CORES }}
          ram-size: ${{ env.ANDROID_EMULATOR_MEM_MB }}M
          disk-size: 4096M
          sdcard-path-or-size: 2048M
          avd-name: Android_Emulator_API_${{ matrix.android_api }}
          force-avd-creation: false
          emulator-boot-timeout: 400 # It can take more than 5 min to boot, and the tests can take more than 17 min to finish.
          script: |
            echo "${{ secrets.ANDROID_SIGNING_KEY_BASE64 }}" | base64 -d > app/MobileRT.jks;
            sh scripts/run_tests_android.sh -t ${{ matrix.type }} -r rep_puscas.mobilertapp.${{ matrix.test }} -a ${{ matrix.android_api }} -k false -f ${{ env.android_arch }};
            echo "Run Android tests finished: ${?}";

    - name: Upload reports as artifact
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      uses: actions/upload-artifact@v6
      with:
        # Check available parameters in: https://github.com/actions/upload-artifact/blob/main/action.yml
        name: reports_${{ matrix.android_api }}_${{ matrix.type }}_${{ matrix.host_os }}-artifacts
        path: app/build/reports
        if-no-files-found: error
        retention-days: 90
        overwrite: true
        include-hidden-files: true
