name: Code Analysis

on:
  workflow_dispatch:
  push:
    paths-ignore:
    - '.github/workflows/**'
    - '*'
    - 'app/debug/**'
    - 'app/release/**'
    - 'app/third_party/conan/**'
    - 'app/System_dependent/**'
    - 'deploy/**'
    - 'docs/**'
    - 'scripts/**'
    - 'WavefrontOBJs/**'
    - '!app/System_dependent/CMakeLists.txt'
    - '!gradle/wrapper/gradle-wrapper.properties'
    - '!scripts/run_tests.sh'
    - '!scripts/helper_functions.sh'
    - '!scripts/install_dependencies.sh'
    - '!app/CMakeLists.txt'
    - '!codecov.yml'
    - '!Gemfile'
    - '!.github/workflows/android.yml'
    - '!.github/workflows/native.yml'
    - '!.github/workflows/code-analysis.yml'
    - '!app/third_party/conan/Native/**'
    - '!app/System_dependent/Native/**'
    - '!.github/workflows/android_matrix.json'
    - '!app/third_party/conan/Android/**'
    - '!app/System_dependent/Android_JNI/**'
    - '!scripts/compile_android.sh'
    - '!scripts/compile_native.sh'
    - '!scripts/check_android.sh'
    - '!scripts/run_tests_android.sh'
    - '!scripts/test/**'
    - '!*.java*'
    - '!*.kt*'
    - '!*.c*'
    - '!*.h*'
    - '!*gradle*'

defaults:
  run:
    shell: sh
    working-directory: .

concurrency:
  group: ${{ github.workflow }} ${{ github.ref }}
  cancel-in-progress: true

# Default environment variables.
env:
  GITHUB_STEP_TIMEOUT_SMALL: 4
  GITHUB_STEP_TIMEOUT_MEDIUM: 10
  GITHUB_STEP_TIMEOUT_LONG: 30

jobs:
  Build:
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'

    strategy:
      fail-fast: false
      matrix:
        # Override automatic language detection by changing the below list
        # Supported options are ['cpp', 'csharp', 'go', 'java', 'javascript', 'python', 'ruby', 'swift']
        language: ['cpp', 'java']
        # Learn more...
        # https://docs.github.com/en/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-code-scanning#overriding-automatic-language-detection

    name: Analyze ${{ matrix.language }}
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - name: Checkout
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success()
      uses: actions/checkout@v4

    - name: Set up JDK
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success() && matrix.language == 'java'
      uses: actions/setup-java@v4
      with:
        # Check available parameters in: https://github.com/actions/setup-java/blob/main/action.yml
        java-version: 21
        distribution: zulu
        java-package: jdk
        architecture: x64
        check-latest: false
        server-id: github
        server-username: GITHUB_ACTOR
        server-password: GITHUB_TOKEN
        settings-path: ~/.gradle
        overwrite-settings: true
        gpg-private-key: ''
        gpg-passphrase: GPG_PASSPHRASE
        cache: gradle
        cache-dependency-path: '**/build.gradle'

    - name: Check available Android versions
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success() && matrix.language == 'java'
      working-directory: .
      run: |
        echo 'Available Android versions:';
        du -h -d 1 ${ANDROID_HOME}/ndk;
        du -h -d 1 ${ANDROID_HOME}/cmake;
        du -h -d 1 ${ANDROID_HOME}/build-tools;
        ls -lahp ${ANDROID_HOME}/platforms;
        ls -lahp ${HOME};

    # Initializes the CodeQL tools for scanning.
    # Valid inputs are ['tools', 'languages', 'token', 'matrix', 'config-file', 'queries']
    # Queries: must be a built-in suite (security-extended or security-and-quality),
    # a relative path, or be of the form "owner/repo[/path]@ref"
    - name: Initialize CodeQL
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      uses: github/codeql-action/init@v3
      with:
        # Check available parameters in: https://github.com/github/codeql-action/blob/main/init/action.yml
        languages: ${{ matrix.language }}
        token: ${{ github.token }}
        matrix: ${{ toJson(matrix) }}
        config-file: .github/codeql/codeql-config.yml
        queries: +security-and-quality
        source-root: .
        ram: 6144
        threads: 3
        debug: false
        packs: codeql/cpp-queries,codeql/java-queries,codeql/ruby-queries

    - name: Install dependencies
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_LONG) }}
      if: success() && matrix.language == 'cpp'
      working-directory: .
      run: |
        sh scripts/install_dependencies.sh;

    - name: Setup Ruby, JRuby and TruffleRuby
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && matrix.language == 'cpp'
      uses: ruby/setup-ruby@v1.186.0
      with:
        # Check available parameters in: https://github.com/ruby/setup-ruby/blob/master/action.yml
        ruby-version: '3.3'
        bundler-cache: true
        cache-version: 0

    - name: Install Ruby dependencies
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success() && matrix.language == 'cpp'
      run: |
        bundle config set path.system true;
        bundle install;

    # Only execute shell unit tests for 'cpp' language because it doesn't matter in which build
    # these tests are executed.
    - name: Code Coverage Shell script tests
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success() && matrix.language == 'cpp'
      working-directory: .
      run: |
        bashcov scripts/test/helper_functions.sh;
        ls -lahp coverage;

    - name: Check code coverage report
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && matrix.language == 'cpp'
      run: |
        # shellcheck disable=SC1091
        . scripts/helper_functions.sh && checkPathExists coverage coverage.xml;

    - name: Upload reports to Codecov
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && matrix.language == 'cpp'
      uses: codecov/codecov-action@v4
      with:
        # Check available parameters in: https://github.com/codecov/codecov-action/blob/main/action.yml
        token: ${{ secrets.CODECOV_TOKEN }}
        directory: 'coverage'
        file: coverage/coverage.xml

    - name: Autobuild
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_LONG) }}
      if: success() && matrix.language != 'cpp'
      uses: github/codeql-action/autobuild@v3
      continue-on-error: true
      with:
        # Check available parameters in: https://github.com/github/codeql-action/blob/main/autobuild/action.yml
        token: ${{ github.token }}
        matrix: ${{ toJson(matrix) }}
        working-directory: ${{ github.workspace }}

    - name: Validate Gradle Wrapper
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && matrix.language == 'java'
      uses: gradle/actions/wrapper-validation@v3
      with:
        # Check available parameters in: https://github.com/gradle/actions/blob/main/wrapper-validation/action.yml
        min-wrapper-count: 1
        allow-snapshots: false
        allow-checksums: ''

    - name: Build C++
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success() && matrix.language == 'cpp'
      working-directory: .
      run: |
        sh scripts/compile_native.sh -t debug -c g++ -r yes;

    # Warning: Valid inputs are ['check_name', 'output', 'upload', 'ram',
    # 'add-snippets', 'threads', 'checkout_path', 'token', 'matrix']
    - name: Perform CodeQL Analysis
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success()
      uses: github/codeql-action/analyze@v3
      with:
        # Check available parameters in: https://github.com/github/codeql-action/blob/main/analyze/action.yml
        check_name: CodeQL
        output: codeql-results
        upload: never
        # Check cleanup-level in: https://codeql.github.com/docs/codeql-cli/manual/database-cleanup/
        cleanup-level: brutal
        # The amount of memory in MB that can be used by CodeQL for database finalization and query execution.
        ram: 6144
        add-snippets: true
        skip-queries: false
        threads: 3
        checkout_path: ${{ github.workspace }}
        # ref: ${GITHUB_REF} does not match /^refs\/(heads|pull|tags)\/.*$/.
        # sha: ${GITHUB_SHA} does not match /^[0-9a-fA-F]+$/.
        # category: String used by Code Scanning for matching the analyses. Not required.
        # category: CodeQL
        upload-database: true
        wait-for-processing: true
        token: ${{ github.token }}
        matrix: ${{ toJson(matrix) }}

    - name: Validate CodeQL output was generated
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      working-directory: .
      run: |
        ls -lahp ./codeql-results;
        ls -lahp ./codeql-results/${{ matrix.language }}.sarif;

    - name: Filter SARIF
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success()
      uses: advanced-security/filter-sarif@v1
      with:
        # Check available parameters in: https://github.com/advanced-security/filter-sarif/blob/main/action.yml
        patterns: |
          -**/*third_party*/**/*:**
        input: ./codeql-results/${{ matrix.language }}.sarif
        output: ./codeql-results/${{ matrix.language }}-filtered.sarif

    - name: Validate CodeQL output was generated
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      working-directory: .
      run: |
        ls -lahp ./codeql-results;
        ls -lahp ./codeql-results/${{ matrix.language }}.sarif;
        ls -lahp ./codeql-results/${{ matrix.language }}-filtered.sarif;

    - name: Upload SARIF
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      uses: github/codeql-action/upload-sarif@v3
      with:
        # Check available parameters in: https://github.com/github/codeql-action/blob/main/upload-sarif/action.yml
        sarif_file: ./codeql-results/${{ matrix.language }}-filtered.sarif

    - name: Upload reports as artifact
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      uses: actions/upload-artifact@v4
      with:
        # Check available parameters in: https://github.com/actions/upload-artifact/blob/main/action.yml
        name: sarif_${{ matrix.language }}-artifacts
        path: codeql-results
        if-no-files-found: error
        retention-days: 90
