name: Sync GitHub Page

on:
  workflow_dispatch:
  push:
    branches:
    - master
    - gh-pages
    paths-ignore:
    - '*'
    - '.github/**'
    - '**/renovate.json'
    - '!.github/workflows/github-pages.yml'
    - '!docs/**'

defaults:
  run:
    shell: sh
    working-directory: .

concurrency:
  group: ${{ github.workflow }} ${{ github.ref }}
  cancel-in-progress: true

# Default environment variables.
env:
  GITHUB_STEP_TIMEOUT_SMALL: 4
  GITHUB_STEP_TIMEOUT_MEDIUM: 10

jobs:
  github-pages:
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'

    runs-on: ubuntu-22.04
    timeout-minutes: 3

    steps:
    - name: Checkout
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success()
      uses: actions/checkout@v4

    - name: Trigger GitHub pages rebuild
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && ((github.event_name == 'workflow_dispatch' && github.ref_name == 'master') || github.ref_name != 'master')
      working-directory: .
      run: |
        curl --fail --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/pages/builds \
          --header "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}";

    - name: Doxygen build
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      uses: mattnotmitt/doxygen-action@v1
      with:
        # Check available parameters in: https://github.com/mattnotmitt/doxygen-action/blob/master/action.yml
        doxyfile-path: ".codedocs" # Path to Doxyfile (default is ./Doxyfile)
        working-directory: "." # Working directory (default is .)
        enable-latex: false # Flag to enable make-ing of the LaTeX part of the doxygen output (default is false)

    - name: Sync README with docker hub
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      uses: ms-jpq/sync-dockerhub-readme@v1
      with:
        # Check available parameters in: https://github.com/ms-jpq/sync-dockerhub-readme/blob/whale/action.yml
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: ptpuscas/mobile_rt
        readme: "docs/README.md"
