name: Native (Qt)

on:
  workflow_dispatch:
  push:
    paths-ignore:
    - '.github/workflows/**'
    - '*'
    - 'app/debug/**'
    - 'app/release/**'
    - 'app/third_party/conan/**'
    - 'app/System_dependent/**'
    - 'deploy/**'
    - 'docs/**'
    - 'scripts/**'
    - 'WavefrontOBJs/**'
    - '!app/System_dependent/CMakeLists.txt'
    - '!gradle/wrapper/gradle-wrapper.properties'
    - '!scripts/run_tests.sh'
    - '!scripts/helper_functions.sh'
    - '!scripts/install_dependencies.sh'
    - '!app/CMakeLists.txt'
    - '!codecov.yml'
    - '!.github/workflows/android.yml'
    - '!.github/workflows/native.yml'
    - '!.github/workflows/code-analysis.yml'
    - '!app/third_party/conan/Native/**'
    - '!app/System_dependent/Native/**'
    - '!.github/workflows/android_matrix.json'
    - '!app/third_party/conan/Android/**'
    - '!app/System_dependent/Android_JNI/**'
    - '!scripts/compile_android.sh'
    - '!scripts/compile_native.sh'
    - '!scripts/check_android.sh'
    - '!scripts/run_tests_android.sh'
    - '!scripts/profile.sh'
    - '!*.java*'
    - '!*.kt*'
    - '!*.c*'
    - '!*.h*'
    - '!*gradle*'

defaults:
  run:
    shell: sh
    working-directory: .

concurrency:
  group: ${{ github.workflow }} ${{ github.ref }}
  cancel-in-progress: true

# Default environment variables.
env:
  GITHUB_STEP_TIMEOUT_SMALL: 4
  GITHUB_STEP_TIMEOUT_MEDIUM: 10
  GITHUB_STEP_TIMEOUT_LONG: 30

jobs:
  Build:
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'

    outputs:
      matrix-sonar: ${{ steps.set-matrix-sonar.outputs.matrix-sonar }}

    strategy:
      fail-fast: false
      matrix:
        include:
        # Ubuntu
        - name: G++
          host_os: ubuntu-20.04
          type: debug
          compiler: g++

        - name: Clang++
          host_os: ubuntu-22.04
          type: release
          compiler: clang++

        - name: Intel C++
          host_os: ubuntu-20.04
          type: release
          compiler: icpx

        # MacOS
        - name: G++
          host_os: macos-14
          type: release
          compiler: g++

        - name: Clang++
          host_os: macos-13
          type: release
          compiler: clang++

        - name: G++
          host_os: macos-12
          type: release
          compiler: g++

        # Windows
        - name: MSVC
          host_os: windows-2022
          type: release
          compiler: cl
          qt_host: 'windows'
          qt_arch: 'win64_msvc2019_64'

        - name: MinGW
          host_os: windows-2019
          type: release
          compiler: g++
          qt_host: 'windows'
          qt_arch: 'win64_mingw81'

    name: ${{ matrix.name }} ${{ matrix.host_os }} (${{ matrix.type }})
    runs-on: ${{ matrix.host_os }}
    timeout-minutes: 60

    steps:
    - name: Checkout
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success()
      uses: actions/checkout@v4

    - name: Check MacOS Xcode versions
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && startsWith(matrix.host_os, 'macos')
      working-directory: .
      run: |
        ls -lahp /System/Volumes/Data/Applications;

    - name: Check Windows Visual Studio versions
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && startsWith(matrix.host_os, 'windows-2022')
      working-directory: .
      run: |
        ls -lahp "C:/Program Files/Microsoft Visual Studio/";
        ls -lahp "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Tools/MSVC/";
        ls -lahp "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Tools/MSVC/14.40.33807/bin/Hostx64/x64/cl.exe";

    - name: Install MacPorts (MacOS 11)
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success() && startsWith(matrix.host_os, 'macos-11')
      uses: melusina-org/setup-macports@v1
      with:
        # Check available parameters in: https://github.com/melusina-org/setup-macports/blob/main/action.yaml
        parameters: '.github/macports.yml'

    - name: Install Qt (Windows & MacOS)
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success() && (startsWith(matrix.host_os, 'windows') || startsWith(matrix.host_os, 'macos-11'))
      uses: jurplel/install-qt-action@v4
      # Download Qt from: https://download.qt.io/online/qtsdkrepository/
      with:
        # Check available parameters in: https://github.com/jurplel/install-qt-action/blob/master/action.yml
        version: '5.15.2' # Also update: app/CMakeLists.txt
        host: '${{ matrix.qt_host }}'
        target: 'desktop'
        arch: '${{ matrix.qt_arch }}'
        dir: '${{ github.workspace }}'
        install-deps: 'false'
        modules: ''
        cache: 'true'
        cache-key-prefix: '${{ matrix.qt_host }}-${{ matrix.qt_arch }}'
        setup-python: 'false'
        set-env: 'true'
        tools-only: 'false'
        aqtversion: '==3.1.*'
        py7zrversion: '==0.20.*'
        extra: '--external 7z'

    - name: Install dependencies
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_LONG) }}
      if: success()
      working-directory: .
      run: |
        sh scripts/install_dependencies.sh;

    - name: Check Qt path installation MacOS
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && startsWith(matrix.host_os, 'macos')
      working-directory: .
      run: |
        set +e;
        test -d /opt/homebrew/Cellar/qt@5;
        qtPathFromHomebrewForMacOS14=$?;
        test -d /usr/local/Cellar/qt@5;
        qtPathFromHomebrewForMacOS13=$?;
        test -d /opt/local/libexec/qt5;
        qtPathFromMacPortsForMacOS11=$?;
        set -e;
        if [ "${qtPathFromHomebrewForMacOS14}" = '0' ]; then
          echo 'Adding Qt v5 lib path to compiler in MacOS-14';
          qtVersion=$(ls -t '/opt/homebrew/Cellar/qt@5/' | head -1);
          echo "Detected Qt version: ${qtVersion}";
          echo "Qt5_DIR=/opt/homebrew/Cellar/qt@5/${qtVersion}/lib/cmake/Qt5" >> "${GITHUB_ENV}";
          echo "CPPFLAGS=${CPPFLAGS} -I/opt/homebrew/opt/qt@5/include" >> "${GITHUB_ENV}";
          echo "LDFLAGS=${LDFLAGS} -L/opt/homebrew/opt/qt@5/lib" >> "${GITHUB_ENV}";
        elif [ "${qtPathFromHomebrewForMacOS13}" = '0' ]; then
          echo 'Adding Qt v5 lib path to compiler in MacOS-13 & MacOS-12';
          qtVersion=$(ls -t '/usr/local/Cellar/qt@5/' | head -1);
          echo "Detected Qt version: ${qtVersion}";
          echo "Qt5_DIR=/usr/local/Cellar/qt@5/${qtVersion}/lib/cmake/Qt5" >> "${GITHUB_ENV}";
          echo "CPPFLAGS=${CPPFLAGS} -I/usr/local/opt/qt@5/include" >> "${GITHUB_ENV}";
          echo "LDFLAGS=${LDFLAGS} -L/usr/local/opt/qt@5/lib" >> "${GITHUB_ENV}";
        elif [ "${qtPathFromMacPortsForMacOS11}" = '0' ]; then
          echo 'Adding Qt v5 lib path to compiler in MacOS-11';
          echo "Qt5_DIR=/opt/local/lib/cmake/Qt5" >> "${GITHUB_ENV}";
          echo "CPPFLAGS=${CPPFLAGS} -I/opt/local/libexec/qt5/include" >> "${GITHUB_ENV}";
          echo "LDFLAGS=${LDFLAGS} -L/opt/local/libexec/qt5/lib" >> "${GITHUB_ENV}";
        else
          echo 'Expecting Qt was installed in MobileRT root path.';
          env | grep -ie qt -ie flags;
          du -h -d 1 Qt;
        fi

    - name: Install Intel C++ Compiler
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && startsWith(matrix.compiler, 'icpx')
      working-directory: .
      run: |
        gpgKey='GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB';
        wget https://apt.repos.intel.com/intel-gpg-keys/"${gpgKey}";
        sudo apt-key add "${gpgKey}";
        rm "${gpgKey}";
        echo 'deb https://apt.repos.intel.com/oneapi all main' | sudo tee /etc/apt/sources.list.d/oneAPI.list;
        sudo rm /etc/apt/sources.list.d/microsoft-prod.list || true;
        sudo apt-get update;
        sudo apt-get install intel-oneapi-compiler-dpcpp-cpp;
        . /opt/intel/oneapi/setvars.sh;
        env;
        which icpx;
        which icx;
        echo 'Storing LD_LIBRARY_PATH & PATH in workflow environment variables.';
        echo "LD_LIBRARY_PATH=${LD_LIBRARY_PATH}" >> "${GITHUB_ENV}";
        echo "PATH=${PATH}" >> "${GITHUB_ENV}";

    - name: Build ${{ matrix.type }}
      timeout-minutes: 40
      if: success()
      working-directory: .
      run: |
        sh scripts/compile_native.sh -t ${{ matrix.type }} -c ${{ matrix.compiler }};

    - name: Generate code coverage base
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && startsWith(matrix.host_os, 'ubuntu') && matrix.type == 'debug' && startsWith(matrix.compiler, 'g++')
      working-directory: .
      run: |
        lcov -c -i -d . --no-external -o code_coverage_base.info;

    - name: Run unit tests
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      working-directory: build_${{ matrix.type }}
      run: |
        unitTestsExe=$(find . -type f -name "UnitTests*" | head -1);
        echo "Unit tests executable: ${unitTestsExe}";
        LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:$(find ~/.conan -iname 'libgtest.so' | grep -iv 'build' | xargs ls -t | head -1 | xargs dirname)" ${unitTestsExe} --gtest_filter=-*Engine*;

    - name: Run system tests Ray Tracing engine (for code coverage)
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      working-directory: .
      run: |
        ls -la ./app/src/androidTest/resources/CornellBox/CornellBox-Water.obj;
        ls -la ./app/src/androidTest/resources/CornellBox/CornellBox-Water.mtl;
        ls -la ./app/src/androidTest/resources/CornellBox/CornellBox-Water.cam;
        unitTestsExe=$(find build_${{ matrix.type }} -type f -name "UnitTests*" | head -1);
        echo "Unit tests executable: ${unitTestsExe}";
        LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:$(find ~/.conan -iname 'libgtest.so' | grep -iv 'build' | xargs ls -t | head -1 | xargs dirname)" ${unitTestsExe} --gtest_filter=*Engine*;

    - name: Create symbolic links for Qt in MacOS
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && startsWith(matrix.host_os, 'macos')
      working-directory: .
      run: |
        otool -L ${PWD}/build_${{ matrix.type }}/bin/AppMobileRT*;
        sudo ln -s ${Qt5_DIR}/lib/QtCore.framework /Library/Frameworks;
        sudo ln -s ${Qt5_DIR}/lib/QtGui.framework /Library/Frameworks;
        sudo ln -s ${Qt5_DIR}/lib/QtWidgets.framework /Library/Frameworks;

    - name: Test MobileRT ${{ matrix.type }}
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      working-directory: .
      run: |
        set +e;
        sh scripts/profile.sh timeout "${{ matrix.type }}" 100 15;
        returnValue="$?";
        set -e;
        # shellcheck disable=SC1091
        . scripts/test/utils/utils.sh && assertEqual '124' "${returnValue}" "test profile script: ${{ matrix.type }}";
        if [ "${returnValue}" != '124' ]; then
          exit "${returnValue}"; # Exit with error if test failed.
        fi

    # TODO: Investigate how to use 'perf record' in github actions machines.
    - name: Profile MobileRT ${{ matrix.type }}
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && matrix.type == 'release' && startsWith(matrix.host_os, 'ubuntu')
      working-directory: .
      run: |
        sudo sysctl kernel.yama.ptrace_scope=0;
        sudo sysctl kernel.yama.ptrace_scope;
        sudo sysctl kernel.kptr_restrict=0;
        sudo sysctl kernel.kptr_restrict;
        sudo sysctl kernel.nmi_watchdog=0;
        sudo sysctl kernel.nmi_watchdog;
        sudo sysctl kernel.perf_event_paranoid=-1;
        sudo sysctl kernel.perf_event_paranoid;
        sudo sysctl vm.max_map_count=100000000;
        sudo sysctl vm.max_map_count;
        sudo sysctl kernel.perf_event_max_sample_rate=3250;
        sudo sysctl kernel.perf_event_max_sample_rate;
        sudo sysctl net.ipv4.tcp_timestamps=0;
        sudo sysctl net.ipv4.tcp_timestamps;
        sh scripts/profile.sh perf "${{ matrix.type }}" 500;

    - name: Generate code coverage
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && startsWith(matrix.host_os, 'ubuntu') && matrix.type == 'debug' && startsWith(matrix.compiler, 'g++')
      working-directory: .
      run: |
        # shellcheck disable=SC1091
        . scripts/helper_functions.sh && generateCodeCoverage;

    - name: Set Matrix for Sonar
      id: set-matrix-sonar
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && startsWith(matrix.host_os, 'ubuntu') && matrix.type == 'debug' && startsWith(matrix.compiler, 'g++')
      run: |
        MATRIX_SONAR=$(echo '${{ toJSON(matrix) }}' | jq -c -s '{"include":[.[]]}');
        echo "Matrix Sonar: ${MATRIX_SONAR}";
        echo "matrix-sonar=${MATRIX_SONAR}" >> ${GITHUB_OUTPUT};

    - name: Upload coverage to cache
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success() && startsWith(matrix.host_os, 'ubuntu') && matrix.type == 'debug' && startsWith(matrix.compiler, 'g++')
      uses: actions/cache@v4
      with:
        # Check available parameters in: https://github.com/actions/cache/blob/main/action.yml
        key: reports_${{ github.sha }}_${{ github.run_id }}_${{ github.run_number }}_${{ matrix.name }}_${{ matrix.host_os }}_${{ matrix.type }}_${{ matrix.compiler }}
        restore-keys: reports_${{ github.sha }}_${{ github.run_id }}_${{ github.run_number }}_${{ matrix.name }}_${{ matrix.host_os }}_${{ matrix.type }}_${{ matrix.compiler }}
        path: |
          app/build/reports/coverage/androidTest/debug/connected
          code_coverage_base.info
          code_coverage.info
          code_coverage_test.info
          code_coverage_filtered.info


  Sonar:
    needs: [Build]
    if: ${{ !cancelled() }} && needs.Build.outputs.matrix-sonar != ''

    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.Build.outputs.matrix-sonar) }}

    name: Code Coverage
    runs-on: ${{ matrix.host_os }}
    timeout-minutes: 3

    steps:
    - name: Checkout
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_MEDIUM) }}
      if: success()
      uses: actions/checkout@v4

    - name: Download reports from cache
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      uses: actions/cache@v4
      with:
        # Check available parameters in: https://github.com/actions/cache/blob/main/action.yml
        key: reports_${{ github.sha }}_${{ github.run_id }}_${{ github.run_number }}_${{ matrix.name }}_${{ matrix.host_os }}_${{ matrix.type }}_${{ matrix.compiler }}
        restore-keys: reports_${{ github.sha }}_${{ github.run_id }}_${{ github.run_number }}_${{ matrix.name }}_${{ matrix.host_os }}_${{ matrix.type }}_${{ matrix.compiler }}
        path: |
          app/build/reports/coverage/androidTest/debug/connected
          code_coverage_base.info
          code_coverage.info
          code_coverage_test.info
          code_coverage_filtered.info

    - name: Send code climate report
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      working-directory: .
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      run: |
        # shellcheck disable=SC1091
        . scripts/helper_functions.sh && prepareBinaries ${{ github.workspace }};
        ./test-reporter-latest-linux-amd64 format-coverage -t lcov code_coverage_filtered.info;
        ./test-reporter-latest-linux-amd64 upload-coverage;

    - name: Validate codecov report
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      working-directory: .
      run: |
        curl --retry 5 --retry-delay 2 --connect-timeout 2 --data-binary @codecov.yml https://codecov.io/validate;

    - name: Send codecov report
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      working-directory: .
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: |
        curl --retry 5 --retry-delay 2 --connect-timeout 2 -s https://codecov.io/bash | bash -s -- -c -F aFlag build_${{ matrix.type }} -v;
