name: Native (Qt)

on:
  workflow_dispatch:
    inputs:
      code-coverage-only:
        type: boolean
        required: false
        description: Code coverage only
  push:
    branches:
    - '**'
    tags-ignore:
    - '**'
    paths-ignore:
      - '*'
      - '**/**'
      - '!.github/workflows/native.yml'
      - '!.github/workflows/native-matrix.json'
      - '!.github/workflows/reusable-native.yml'
      - '!Gemfile'
      - '!scripts/helper_functions.sh'
      - '!scripts/install_dependencies.sh'
      - '!scripts/profile.sh'
      - '!scripts/compile_native.sh'
      - '!scripts/test/utils/utils.sh'
      - '!codecov.yml'
      - '!app/third_party/conan/Native/**'
      - '!**/CMakeLists*'
      - '!**/AndroidTest/resources/**'
      - '!**/*.c*'
      - '!**/*.h'
      - '!**/*.hpp'
      - '!**/*.ui*'

permissions: {}

defaults:
  run:
    shell: sh
    working-directory: .

concurrency:
  group: ${{ github.workflow }} ${{ github.ref }}
  cancel-in-progress: true

# Default environment variables.
env:
  GITHUB_STEP_TIMEOUT_SMALL: 4
  GITHUB_STEP_TIMEOUT_MEDIUM: 10
  GITHUB_STEP_TIMEOUT_LONG: 20

jobs:
  Matrix:
    name: Set Matrix
    runs-on: macos-latest
    timeout-minutes: 2

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - name: Checkout
        timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
        if: success()
        uses: actions/checkout@v6
        with:
          # Check available parameters in: https://github.com/actions/checkout/blob/main/action.yml
          lfs: true

      - name: Set Matrix
        id: set-matrix
        timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
        if: success()
        run: |
          if [ "${{ inputs.code-coverage-only }}" = 'true' ]; then
            MATRIX='{"include":[{"build_os":"ubuntu-latest","target_os": "ubuntu-latest","type":"debug","compiler":"g++"}]}';
          else
            MATRIX=$(echo $(cat .github/workflows/native-matrix.json) | sed 's/ //g');
          fi
          echo "Matrix: ${MATRIX}";
          echo "matrix=${MATRIX}" >> ${GITHUB_OUTPUT};

  Native:
    needs: [Matrix]
    name: Native ${{ matrix.type }} ${{ matrix.compiler }} ${{ matrix.build_os }} (${{ matrix.target_os }})
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.Matrix.outputs.matrix) }}
    uses: ./.github/workflows/reusable-native.yml

    # Sets permissions of the GITHUB_TOKEN to allow delete cache
    permissions:
      actions: write

    with:
      build_os: ${{ matrix.build_os }}
      target_os: ${{ matrix.target_os }}
      type: ${{ matrix.type }}
      compiler: ${{ matrix.compiler }}
      qt_version: ${{ matrix.qt_version }}
      qt_arch: ${{ matrix.qt_arch }}
    # If you might want to use a secret in the build or test job then you would need to pass secrets, inherit disables secret isolation
    secrets: inherit
