name: Release

on:
  push:
    tags:
      - "v[0-9]*.[0-9]*.[0-9]*"
permissions: {}

defaults:
  run:
    shell: sh
    working-directory: .

concurrency:
  group: ${{ github.workflow }} ${{ github.ref }}
  cancel-in-progress: true

# Default environment variables.
env:
  GITHUB_STEP_TIMEOUT_SMALL: 4
  GITHUB_STEP_TIMEOUT_MEDIUM: 10
  GITHUB_STEP_TIMEOUT_LONG: 20

jobs:
  Matrix:
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'

    name: Set Matrix
    runs-on: ubuntu-latest
    timeout-minutes: 2

    outputs:
      android_matrix: ${{ steps.set-matrix.outputs.android_matrix }}
      release_api: ${{ steps.set-matrix.outputs.release_api }}
      native_matrix: ${{ steps.set-matrix.outputs.native_matrix }}

    steps:
      - name: Checkout
        timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
        if: success()
        uses: actions/checkout@v6
        with:
          # Check available parameters in: https://github.com/actions/checkout/blob/main/action.yml
          lfs: true

      - name: Set Matrix
        id: set-matrix
        timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
        if: success()
        shell: bash
        run: |
          # Android usage: https://apilevels.com
          ANDROID_MATRIX=$(jq -c '{ include:(.include | map(select(has("android_api"))))}' .github/workflows/release.json);
          echo "ANDROID_MATRIX: ${ANDROID_MATRIX}";
          echo "android_matrix=${ANDROID_MATRIX}" >> ${GITHUB_OUTPUT};
          RELEASE_API=$(jq -c '.include | map(select(has("android_api"))) | map(.android_api |= tonumber | .android_api_device |= tonumber) | sort_by(.android_api, .android_api_device) | .[0] | .android_api = (.android_api|tostring) | .android_api_device = (.android_api_device|tostring)' .github/workflows/release.json);
          RELEASE_API="$(echo {\"include\":[${RELEASE_API}])}";
          echo "RELEASE_API: ${RELEASE_API}";
          echo "release_api=${RELEASE_API}" >> ${GITHUB_OUTPUT};
          NATIVE_MATRIX=$(jq -c '{ include:(.include | map(select(has("android_api") | not)))}' .github/workflows/release.json);
          echo "NATIVE_MATRIX: ${NATIVE_MATRIX}";
          echo "native_matrix=${NATIVE_MATRIX}" >> ${GITHUB_OUTPUT};

  Android:
    needs: [Matrix]
    name: Android ${{ matrix.android_api }} ${{ matrix.type }} (${{ matrix.host_os }})
    strategy:
      fail-fast: true
      matrix: ${{ fromJSON(needs.Matrix.outputs.android_matrix) }}
    uses: ./.github/workflows/reusable-android.yml

    # Sets permissions of the GITHUB_TOKEN to allow delete cache and publish test results
    permissions:
      actions: write
      checks: write
      pull-requests: write # only required if `comment: true` was enabled

    with:
      host_os: ${{ matrix.host_os }}
      android_api: ${{ matrix.android_api }}
      android_api_device: ${{ matrix.android_api_device }}
      type: ${{ matrix.type }}
    # If you might want to use a secret in the build or test job then you would need to pass secrets, inherit disables secret isolation
    secrets: inherit


  Native:
    needs: [Matrix]
    name: Native ${{ matrix.type }} ${{ matrix.compiler }} ${{ matrix.build_os }} (${{ matrix.target_os }})
    strategy:
      fail-fast: true
      matrix: ${{ fromJSON(needs.Matrix.outputs.native_matrix) }}
    uses: ./.github/workflows/reusable-native.yml

    # Sets permissions of the GITHUB_TOKEN to allow delete cache
    permissions:
      actions: write

    with:
      build_os: ${{ matrix.build_os }}
      target_os: ${{ matrix.target_os }}
      type: ${{ matrix.type }}
      compiler: ${{ matrix.compiler }}
      qt_version: ${{ matrix.qt_version }}
      qt_arch: ${{ matrix.qt_arch }}
    # If you might want to use a secret in the build or test job then you would need to pass secrets, inherit disables secret isolation
    secrets: inherit

  ReleaseNotes:
    name: Generate Release Notes
    runs-on: ubuntu-latest
    timeout-minutes: 360

    strategy:
      fail-fast: true

    permissions:
      models: read

    outputs:
      release_notes: ${{ steps.release_notes.outputs.release_notes }}

    steps:
    - name: Checkout
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      uses: actions/checkout@v6
      with:
        # Check available parameters in: https://github.com/actions/checkout/blob/main/action.yml
        fetch-depth: 0
        fetch-tags: true
        lfs: false

    - name: Generate Release Notes with AI Model
      id: release_notes
      timeout-minutes: 360
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        set -Eeuo pipefail;
        shopt -s failglob;
        shopt -s inherit_errexit;
        # Force line-buffered output for everything inside the script
        export PYTHONUNBUFFERED=1;
        export NODE_DISABLE_COLORS=1;
        stdbuf -oL -eL bash scripts/release_notes.sh;
        echo "Release notes: $(cat release_notes.log)";
        {
          echo "release_notes<<EOF";
          cat release_notes.log;
          echo "EOF";
        } >> "$GITHUB_OUTPUT";


  Release:
    needs: [Matrix, ReleaseNotes, Native, Android]
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 3

    permissions:
      contents: write

    strategy:
      fail-fast: true
      matrix: ${{ fromJSON(needs.Matrix.outputs.release_api) }}
    steps:
    - name: Checkout
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      uses: actions/checkout@v6
      with:
        # Check available parameters in: https://github.com/actions/checkout/blob/main/action.yml
        fetch-depth: 1
        fetch-tags: false
        lfs: false

    - name: Download generated Android APK artifact
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      uses: Wandalen/wretry.action@e68c23e6309f2871ca8ae4763e7629b9c258e1ea # v3
      with:
        # Check available parameters in: https://github.com/Wandalen/wretry.action/blob/master/action.yml
        action: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392 # v12
        pre_retry_command: 'echo "Retrying Download generated Android APK artifact step..."'
        with: |
          # Check available parameters in: https://github.com/dawidd6/action-download-artifact/blob/master/action.yml
          workflow_conclusion: ''
          commit: ${{ github.event.pull_request.head.sha }}
          name: MobileRT_${{ matrix.type }}_min_android_api-${{ matrix.android_api }}-apk
          allow_forks: true
          check_artifacts:  true
          search_artifacts: true
          skip_unpack: true

    - name: Download generated Linux x86 artifact
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      uses: Wandalen/wretry.action@e68c23e6309f2871ca8ae4763e7629b9c258e1ea # v3
      with:
        # Check available parameters in: https://github.com/Wandalen/wretry.action/blob/master/action.yml
        action: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392 # v12
        pre_retry_command: 'echo "Retrying Download generated Linux x86 artifact step..."'
        with: |
          # Check available parameters in: https://github.com/dawidd6/action-download-artifact/blob/master/action.yml
          workflow_conclusion: ''
          commit: ${{ github.event.pull_request.head.sha }}
          name: MobileRT_${{ matrix.type }}_os-ubuntu-22.04_build-g++
          allow_forks: true
          check_artifacts:  true
          search_artifacts: true
          skip_unpack: true

    - name: Download generated Linux arm artifact
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      uses: Wandalen/wretry.action@e68c23e6309f2871ca8ae4763e7629b9c258e1ea # v3
      with:
        # Check available parameters in: https://github.com/Wandalen/wretry.action/blob/master/action.yml
        action: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392 # v12
        pre_retry_command: 'echo "Retrying Download generated Linux arm artifact step..."'
        with: |
          # Check available parameters in: https://github.com/dawidd6/action-download-artifact/blob/master/action.yml
          workflow_conclusion: ''
          commit: ${{ github.event.pull_request.head.sha }}
          name: MobileRT_${{ matrix.type }}_os-ubuntu-22.04-arm_build-g++
          allow_forks: true
          check_artifacts:  true
          search_artifacts: true
          skip_unpack: true

    - name: Download generated MacOS x86 artifact
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      uses: Wandalen/wretry.action@e68c23e6309f2871ca8ae4763e7629b9c258e1ea # v3
      with:
        # Check available parameters in: https://github.com/Wandalen/wretry.action/blob/master/action.yml
        action: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392 # v12
        pre_retry_command: 'echo "Retrying Download generated MacOS x86 artifact step..."'
        with: |
          # Check available parameters in: https://github.com/dawidd6/action-download-artifact/blob/master/action.yml
          workflow_conclusion: ''
          commit: ${{ github.event.pull_request.head.sha }}
          name: MobileRT_${{ matrix.type }}_os-macos-15-intel_build-g++
          allow_forks: true
          check_artifacts:  true
          search_artifacts: true
          skip_unpack: true

    - name: Download generated MacOS arm artifact
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      uses: Wandalen/wretry.action@e68c23e6309f2871ca8ae4763e7629b9c258e1ea # v3
      with:
        # Check available parameters in: https://github.com/Wandalen/wretry.action/blob/master/action.yml
        action: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392 # v12
        pre_retry_command: 'echo "Retrying Download generated MacOS arm artifact step..."'
        with: |
          # Check available parameters in: https://github.com/dawidd6/action-download-artifact/blob/master/action.yml
          workflow_conclusion: ''
          commit: ${{ github.event.pull_request.head.sha }}
          name: MobileRT_${{ matrix.type }}_os-macos-15_build-g++
          allow_forks: true
          check_artifacts:  true
          search_artifacts: true
          skip_unpack: true

    - name: Download generated Windows x86 artifact
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      uses: Wandalen/wretry.action@e68c23e6309f2871ca8ae4763e7629b9c258e1ea # v3
      with:
        # Check available parameters in: https://github.com/Wandalen/wretry.action/blob/master/action.yml
        action: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392 # v12
        pre_retry_command: 'echo "Retrying Download generated Windows x86 artifact step..."'
        with: |
          # Check available parameters in: https://github.com/dawidd6/action-download-artifact/blob/master/action.yml
          workflow_conclusion: ''
          commit: ${{ github.event.pull_request.head.sha }}
          name: MobileRT_${{ matrix.type }}_os-windows-2025_build-cl
          allow_forks: true
          check_artifacts:  true
          search_artifacts: true
          skip_unpack: true

    - name: Download generated Windows arm artifact
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      uses: Wandalen/wretry.action@e68c23e6309f2871ca8ae4763e7629b9c258e1ea # v3
      with:
        # Check available parameters in: https://github.com/Wandalen/wretry.action/blob/master/action.yml
        action: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392 # v12
        pre_retry_command: 'echo "Retrying Download generated Windows arm artifact step..."'
        with: |
          # Check available parameters in: https://github.com/dawidd6/action-download-artifact/blob/master/action.yml
          workflow_conclusion: ''
          commit: ${{ github.event.pull_request.head.sha }}
          name: MobileRT_${{ matrix.type }}_os-windows-11-arm_build-cl
          allow_forks: true
          check_artifacts:  true
          search_artifacts: true
          skip_unpack: true

    - name: Extract & validate release artifacts
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      if: success()
      run: |
        mkdir -p release/android;
        mkdir -p release/linux;
        mkdir -p release/macos;
        mkdir -p release/windows;

        echo 'Extracting Android APK release';
        mv MobileRT_${{ matrix.type }}_min_android_api-${{ matrix.android_api }}-apk.zip release/android;
        ls -lahp release/android/MobileRT_${{ matrix.type }}_min_android_api-${{ matrix.android_api }}-apk.zip;
        . scripts/helper_functions.sh && extractFilesFromArtifact release/android;
        mv release/android/app-${{ matrix.type }}-signed.apk release/android/MobileRT_${{ matrix.type }}_min_android_api-${{ matrix.android_api }}.apk;
        ls -lahp release/android/MobileRT_${{ matrix.type }}_min_android_api-${{ matrix.android_api }}.apk;

        echo 'Extracting Linux release';
        mv MobileRT_${{ matrix.type }}_os-ubuntu-22.04_build-g++.zip release/linux;
        ls -lahp release/linux/MobileRT_${{ matrix.type }}_os-ubuntu-22.04_build-g++.zip;
        mv MobileRT_${{ matrix.type }}_os-ubuntu-22.04-arm_build-g++.zip release/linux;
        ls -lahp release/linux/MobileRT_${{ matrix.type }}_os-ubuntu-22.04-arm_build-g++.zip;

        echo 'Extracting MacOS release';
        mv MobileRT_${{ matrix.type }}_os-macos-15-intel_build-g++.zip release/macos;
        ls -lahp release/macos/MobileRT_${{ matrix.type }}_os-macos-15-intel_build-g++.zip;
        mv MobileRT_${{ matrix.type }}_os-macos-15_build-g++.zip release/macos;
        ls -lahp release/macos/MobileRT_${{ matrix.type }}_os-macos-15_build-g++.zip;

        echo 'Extracting Windows release';
        mv MobileRT_${{ matrix.type }}_os-windows-2025_build-cl.zip release/windows;
        ls -lahp release/windows/MobileRT_${{ matrix.type }}_os-windows-2025_build-cl.zip;
        mv MobileRT_${{ matrix.type }}_os-windows-11-arm_build-cl.zip release/windows;
        ls -lahp release/windows/MobileRT_${{ matrix.type }}_os-windows-11-arm_build-cl.zip;

        ls -lahp release;
        echo "Release notes: ${{ needs.ReleaseNotes.outputs.release_notes }}";

    - name: Release
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
      if: github.ref_type == 'tag'
      with:
        # Check available parameters in: https://github.com/softprops/action-gh-release/blob/master/action.yml
        body: ${{ needs.ReleaseNotes.outputs.release_notes }}
        draft: true # TODO: change to false when ready to publish
        prerelease: false
        preserve_order: true
        files: |
          release/android/MobileRT_${{ matrix.type }}_min_android_api-${{ matrix.android_api }}.apk
          release/linux/MobileRT_${{ matrix.type }}_os-ubuntu-22.04_build-g++.zip
          release/linux/MobileRT_${{ matrix.type }}_os-ubuntu-22.04-arm_build-g++.zip
          release/macos/MobileRT_${{ matrix.type }}_os-macos-15-intel_build-g++.zip
          release/macos/MobileRT_${{ matrix.type }}_os-macos-15_build-g++.zip
          release/windows/MobileRT_${{ matrix.type }}_os-windows-2025_build-cl.zip
          release/windows/MobileRT_${{ matrix.type }}_os-windows-11-arm_build-cl.zip
        fail_on_unmatched_files: true
        generate_release_notes: false
        append_body: false
        make_latest: true

    - name: Upload APK to Google Play
      timeout-minutes: ${{ fromJSON(env.GITHUB_STEP_TIMEOUT_SMALL) }}
      uses: r0adkll/upload-google-play@935ef9c68bb393a8e6116b1575626a7f5be3a7fb # v1
      if: github.ref_type == 'tag' && false # TODO: Enable when ready to publish
      with:
        # Check available parameters in: https://github.com/r0adkll/upload-google-play/blob/master/action.yml
        serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
        packageName: puscas.mobilertapp
        releaseFiles: release/android/MobileRT_${{ matrix.type }}_min_android_api-${{ matrix.android_api }}.apk
        track: internal # TODO: change to 'production' when ready to publish
        inAppUpdatePriority: 0 # TODO: change to 5 when ready to publish
        status: draft # TODO: change to 'completed' when ready to publish
        changesNotSentForReview: true # TODO: change to false when ready to publish
